{% extends 'base.html' %}
{% block content %}

      <div class="site-content  container ">
          <main class="site-main ">
             <h1>{% if language == 'RU' %}Помощь{%else%}Help{%endif%}</h1>
              <form method="get" class="search">
                  <input name="s" type="text" value="{{s}}" placeholder="{% if language == 'RU' %}Поиск{%else%}Search{%endif%}">
                  <input type="submit" value=" " >
              </form>
              {% for item in item_list %}
                <a href="/help/{{item.slug}}/" class="help_item">
                  <div >
                      <div class="item_title">{{item.title|safe}}</div>
                      <div class="item_text">{{item.announce|safe}}</div>
                  </div>
                </a>
              {% endfor %}

          </main>
    </div> 


{% endblock %}