{% extends 'base.html' %}
{% block content %}
<div class="site-content  container ">
<main class="site-main ">

<h1 id="quick_start">Быстрый старт</h1>

<div class="help_item" id="basics"><div><div class="item_title">
    Что такое сервис Angelina Braille Reader
</div><div class="item_text">
    Позволяет с помощью смартфона или компьютера быстро прочитать рукописный или печатный бумажный брайлевский текст:
    <ol>
        <li>Сделайте фото, с учетом <a href="#how_to_photo">рекомендаций</a>
        <table width="100%" cellpadding="20%">
            <tr>
                <td><img src="{{ url_for('static', filename='images/help/main_page.jpg') }}" alt="main page screenshot"></td>
                <td><img src="{{ url_for('static', filename='images/help/page_example.jpg') }}" alt="braille text image example"></td>
            </tr>
        </table>
        </li>
        <li>Получите расшифровку в виде:</li>
            <ul>
            <li>распознанного текста брайлевскими символами,</li>
            <li>текста обычными (плоскопечатными) буквами,</li>
            <li>изображения с подписанным значением каждого брайлевского символа.</li>
            </ul>
        <table width="100%" cellpadding="20%">
            <tr>
                <td><img src="{{ url_for('static', filename='images/help/result_image.jpg') }}" alt="main page screenshot"></td>
                <td><img src="{{ url_for('static', filename='images/help/result_text.jpg') }}" alt="braille text image example"></td>
                <td><img src="{{ url_for('static', filename='images/help/result_braille.jpg') }}" alt="braille text image example"></td>
            </tr>
        </table>
        <li>Прочитайте, сохраните или отправьте результат <a href="#email">на электронную прочту</a>.</li>
    </ol>
    Используя сервис, Вы соглашаетесь с <a href="{{ url_for("polit") }}">пользовательским соглашением и политикой конфиденциальности</a>.
</div></div></div>

<div class="help_item" id="whom_for"><div><div class="item_title">
    Для кого
</div><div class="item_text">
    <ul>
    <li>учителя, работающие с незрячими учениками,</li>
    <li>родители, близкие слепых людей,</li>
    <li>любые люди, кто общается со слепыми и кому надо прочитать текст на Брайле.</li>
    </ul>
</div></div></div>

<div class="help_item" id="app_setup"><div><div class="item_title">
    Установка как приложения на смартфон
</div><div class="item_text">

    <table width="100%" cellpadding="20%">
        <tr>
            <td>На смартфоне сервис можно установить в качестве приложения.</td>
            <td><img src="{{ url_for('static', filename='images/help/icon.jpg') }}" alt="application icon"></td>
        </tr>
    </table>

    <table width="100%" cellpadding="20%">
        <tr>
            <td><img src="{{ url_for('static', filename='images/help/install1.jpg') }}" alt="installation_1"></td>
            <td>В правом нижнем углу появляется всплывающая кнопка «Установить». Если ее нажать, приложение будет установлено на смартфон.</td>
        </tr>
    </table>

    <table width="100%" cellpadding="20%">
        <tr>
            <td>Альтернативный путь (для Chrome) – открыть меню настроек браузера и выбрать «Установить приложение».</td>
            <td><img src="{{ url_for('static', filename='images/help/install2.jpg') }}" alt="installation_2"></td>
            <td><img src="{{ url_for('static', filename='images/help/install3.jpg') }}" alt="installation_3"></td>
        </tr>
    </table>

</div></div></div>

<div class="help_item" id="registration"><div><div class="item_title">
    Зачем нужна регистрация
</div><div class="item_text">
    Хотя пользоваться сервисом можно и без регистрации, для полноценной работы с сервисом нужна регистрация.
    Она бесплатна. Зачем она нужна?
    <ul>
        <li>В первую очередь, Вы получите возможность <a href="#history">просматривать ранее загруженные тексты</a> .
            Поскольку это ваши личные тексты, приходится защищать их именем пользователя и паролем;</li>
        <li>Вы можете сделать <a href="#settings">настройки по умолчанию</a>, чтобы не выбирать каждый раз режим работы;</li>
        <li>Вы можете <a href="#history">снять разрешение</a> на публикацию ранее загруженных материалов после их загрузки и расшифровки;</li>
        <li>Не зарегистрированные пользователи не могут запретить публичное распространение загруженных текстов.</li>
    </ul>
    При регистрации Вы можете указать любое имя пользолвателя, какое Вам нравится.
    Однако рекомендуем указать реальный E-Mail, чтобы была возможность восстановить пароль, если Вы его забудете.
</div></div></div>

<div class="help_item" id="public_access"><div><div class="item_title">
    Что такое и зачем нужен публичный доступ
</div><div class="item_text">
    Для того, чтобы системы на основе искусственного интеллекта работали,
    их надо обучать на большом количестве примеров.
    Первоначально нейронная сеть, лежащая в основе Angelina Reader, была обучена на наборе брайлевских текстов,
    <a href="https://arxiv.org/abs/1811.10893">опубликованных</a> китайскими исследователями и на текстах, самостоятельно подготовленных разработчиками Angelina Reader.
    Однако, чтобы сделать качество работы лучше, необходимо дополнительное обучение на тех изображениях,
    которые загружают пользователи сервиса. Кроме того, поскольку Angelina Reader обязан своим появлением набору данных,
    опубликованному в свободном доступе,
    мы считаем себя в долгу перед другими исследователями и хотели бы опубликовать <a href="https://github.com/IlyaOvodov/AngelinaDataset">публично доступный набор данных</a>.
    <p/>
    Если Ваш текст не содержит личной или конфиденциальной информации,
    и Вы ставите галочку «Согласен» под вопросом о публичном доступе,
    Вы вносите свой вклад в улучшение алгоритмов распознавания Брайля.
    <p/>
    Разумеется, если Вы не согласны с тем, чтобы загруженный текст видели разработчики,
    Вы можете выбрать вариант «Возражаю». В этом случае никто не увидит содержания загруженного Вами текста.
</div></div></div>

<div class="help_item" id="how_to_photo"><div><div class="item_title">
    Как правильно сделать фото
</div><div class="item_text">
    Чтобы получить удовлетворительный результат, надо выполнять несколько простых правил:
    <ol>
    <li>свет должен падать с дальней от Вас (верхней) стороны листа и давать контрастное изображение точек со светом и тенью.</li>
    <li>Лист должен быть сфотографирован сверху.</li>
    <li>Масштаб изображения такой, чтобы лист А4 занимал почти весь кадр.</li>
    <li>Разрешение не менее 1000 точек по вертикали и горизонтали (фото с большинства смартфонов и фотоаппаратов подходят).</li>
    </ol>

    <table>
        <tr>
            <td width="300px" align="center">
                <img src="{{ url_for('static', filename='images/help/correct_light.png') }}" style="width:100%; object-fit:contain" align="middle">
            </td>
            <td width="300px" align="center">
                <img src="{{ url_for('static', filename='images/help/wrong_light.png') }}" style="width:100%; object-fit:contain"  align="middle">
            </td>
            <td width="300px" align="center">
                <img src="{{ url_for('static', filename='images/help/wrong_position.png') }}" style="width:100%; object-fit:contain"  align="middle">
            </td>
        </tr>
        <tr>
            <td width="300px" align="center">
                <div style="color:green">Правильно</div>
            </td>
            <td width="300px" align="center">
                <div style="color:#ff0000">Неправильно</div> (свет падает сверху, сбоку или сзади)
            </td>
            <td width="300px" align="center">
                <div style="color:red">Неправильно</div> (фотографировать надо сверху)
            </td>
        </tr>
        <tr>
            <td width="300px" align="center">
                <img src="{{ url_for('static', filename='images/help/page_example.jpg') }}" style="width:50%; object-fit:contain" align="middle">
            </td>
            <td width="600px" align="center" colspan="2">
                <img src="{{ url_for('static', filename='images/help/wrong_image.jpg') }}" style="width:30%; object-fit:contain"  align="center">
            </td>
        </tr>
    </table>

</div></div></div>


<p/><p/>
<h1 id="manual">Руководство пользователя</h1>


<div class="help_item" id="load_image"><div><div class="item_title">
    Загрузка изображений для распознавания
</div><div class="item_text">
    В систему для распознавания могут быть загружены:
    <ul>
        <li>при запуске со смартфона - фото, сделанное c помощью камеры непосредственно из программы;</li>
        <li>фото, сделанное заранее (файл с изображением типа <b>*.jpg</b> и др.);</li>
        <li>файл в формате "Adobe Acrobat” (файл типа <b>*.pdf</b>, полученный, например, из сканнера);</li>
        <li>архив в формате <b>*.zip</b>, содержащий изображения.
        Для получения архива в Windows следует выделить несколько файлов или папку с файлами,
        нажать правую кнопку мыши и выбрать «отправить в — сжатая zip-папка»;</li>
    </ul>
</div></div></div>

<div class="help_item" id="recognition_modes"><div><div class="item_title">
    Режимы распознавания текста
</div><div class="item_text">
    Перед загрузкой изображения Вам предлагается установить параметры обработки текста:
    <ul>
        <li><b>Согласие</b> на <a href="#public_access">публичный доступ</a> к загруженному тексту или <b>отказ</b> от него.
        <li><b>Язык текста</b>. Определяет, в плоский текст на каком языке будет переведен распознанный брайлевский текст.
        <li><b>Автоориентация</b>.
        Если этот режим включен, программа сама определяет, как правильно повернуть лист на изображении.
        Дело в том, что когда Вы делаете снимок сверху вниз, смартфон может выбрать неправильную ориентацию,
        фото получается перевернутым или повернутым на бок.
        Режим «автоориентация» позволяет корректно распознать даже перевернутые изображения.
        Однако иногда автоматическое определение ориентации может давать сбой.
        В этом случае следует убедиться, что фото ориентировано верно, и отключить опцию «автоориентация».
        Рекомендуется всегда выбирать опцию «автоориентация», кроме случаев, когда ее использование дает неверные результаты.
        <li><b>Обе стороны</b>. Это режим, который по изображению лишь одной стороны листа с двусторонней печатью позволяет
        получить текст сразу обеих сторон: лицевой и обратной.
        Однако качество распознавания обратной стороны будет хуже,
        поэтому рекомендуется включать этот режим только когда надо быстро распознать текст в ознакомительных целях.
        Для более качественного результата рекомендуем сделать отдельно фото каждой стороны и распознать отдельно,
        оставив режим «обе стороны» выключенным.
    </ul>
    Зарегистрированные пользователи могут установить значения по умолчанию для всех перечисленных параметров в <a href="#settings">разделе «настройки»</a>.
</div></div></div>


<div class="help_item" id="history"><div><div class="item_title">
    Работа с историей ранее распознанных текстов
</div><div class="item_text">
    Для зарегистрированных пользователей доступна история ранее загруженных ими текстов.
    Таким образом, если Вам надо вернуться к предыдущей странице, Вам не надо заново ее распознавать.
    Достаточно найти ее в списке результатов.
    <p/>
    Последние 5 документов видны на главной странице.
    Полностью список доступен в разделе «история» или по ссылке «показать все» в конце краткого списка.
    <p/>
    Каждая запись в истории содержит:
    <table><tr>
        <td>
            <ul>
                <li>дату и время загрузки изображениях	(картинка)</li>
                <li>название загруженного файла</li>
                <li>первые 3 строки загруженного текста</li>
                <li>иконка с признаком,<br/> разрешен <img src="{{ url_for('static', filename='images/unlock_item.png') }}" alt="unlock icon" width="30">
                    или запрещен <img src="{{ url_for('static', filename='images/lock_item.png') }}" alt="lock icon" width="30"> публичный доступ.</li>
            </ul>
        </td>
        <td>
            <img src="{{ url_for('static', filename='images/help/history.jpg') }}" width="300">
        </td>
    </tr></table>
    <p/>
    Целчок по строке в истории открывает <a href="#results">результаты распознавания</a> в том же виде, как после загрузки изображения.
    <p/>
    Целчок по иконке с замочком <img src="{{ url_for('static', filename='images/unlock_item.png') }}" alt="unlock icon" width="30"> позволяет изменить решение о том,
    разрешен ли <a href="#public_access">публичный доступ</a> к изображению.
    <p/>
    Перемещаться по результатам из истории можно также в форме с результатами с помощью кнопок <sp/>
    <img src="{{ url_for('static', filename='images/nav-arrow.png') }}" alt="left_arrow" width="20"> <sp/> и  <sp/><img src="{{ url_for('static', filename='images/nav-arrow-fwd.png') }}" alt="left_arrow" width="20">.
</div></div></div>


<div class="help_item" id="results"><div><div class="item_title">
    Результаты распознавания
</div><div class="item_text">
    Результаты распознавания отображаются на отдельной странице и включают:
    <ul>
        <li>изображение с подписанными под брайлевскими симмволами буквами плоского текста;</li>
        <li>распознанный плоский текст;</li>
        <li>распознанный брайлевский текст.</li>
    </ul>
    <p/>
    Если <a href="#load_image">загружен архив</a>, будут последовательно отображены все файлы в архиве.
    <p/>
    Если включена <a href="#recognition_modes">опция «обе стороны»</a>, для каждого загруженного изображения будет показано 2 страницы с результатами: лицевая и обратная сторона.
    <p/>
    С помощью кнопок <sp/><img src="{{ url_for('static', filename='images/nav-arrow.png') }}" alt="left_arrow" width="20"><sp/>
    и  <sp/><img src="{{ url_for('static', filename='images/nav-arrow-fwd.png') }}" alt="left_arrow" width="20"> можно перемещаться между ранее распознанными изображениями.
    <p/>
    С помощью кнопки «Отправить на E-mail” результат можно <a href="#email">отправить на e-mail</a>.
</div></div></div>


<div class="help_item" id="email"><div><div class="item_title">
    Отправка результатов на e-mail
</div><div class="item_text">
    Для отправки на E-mail надо нажать кнопку "отправить на E-mail" на странице с результатами.
    <p/>
    В форме отправки на e-mail надо ввести адрес получателя.
    <p/>
    Можно указать тему письма. Если оставить это поле пустым, темой письма будет «Распознанный брайль <i>имя загруженного файла</i>»
    <p/>
    Также можно выбрать, что отправить: изображение, текст или брайлевский текст.
    <p/>
    Кроме того, можно добавить текстовый комментарий, который будет включен в письмо.
    <p/>
    В случае обнаружения ошибки можно отправить письмо или его копию разработчикам, включив соответствующую галочку.
    В этом случае становиться необходимо заполнить поле «комментарий». Там надо описать проблему, о которой Вы хотите сообщить.
    <p/>
    Система позволяет настроить один или несколько адресов получателей для быстрого выбора с помощью кнопки
    <sp/><img src="{{ url_for('static', filename='images/fr_plass.png') }}" width="30"> справа от поля адресата.
    Список адресов для выбора заполняется в разделе «настройки».
    <p/>
    Также в разделе «настройки» можно настроить значения по умолчанию для режима отправки почты.
</div></div></div>


<div class="help_item"id="settings"><div><div class="item_title">
    Настройки
</div><div class="item_text">
    Раздел «Настройки» позволяет изменить
    <ul>
        <li>пароль</li>
        <li>отображаемое имя пользователя</li>
        <li>настройки по умолчанию для режимов распознавания и режимов отправки почты</li>
        <li>список наиболее часто используемых адресов получателей</li>
    </ul>
</div></div></div>

</main>
</div>
{% endblock %}