{% extends 'base.html' %}
{% block content %}

<div class="site-content  container  ">
<main class="site-main ">

    <h1>Пользовательское соглашение</h1>

<div class="help_item">
<div class="item_text">

Пользовательское соглашение является договором публичной оферты.
Подтверждая согласие с пользовательским соглашением,
пользователь выражает акцепт оферты (заключение договора оферты),
включающей следующие положения:

<p/>1. Услуги сервиса предоставляются как есть, разработчики не несут ответственности за недостатки работы сервиса.

<p/>2. Пользователь выражает согласие с прилагаемой политикой конфиденциальности в отношении передаваемых на сервис персональных данных.

</div></div>

    <p/>
    <h1>Политика конфиденциальности</h1>

<div class="help_item">
<div class="item_text">

1. В целях выполнения договора оферты сервис собирает следующие персональные данные пользователей
<ul>
    <li>адрес электронной почты;</li>
    <li>имя пользователя (реальное или любое введенное пользователем);</li>
    <li>изображения брайлевских текстов, загруженные пользователем.</li>
</ul>

<p/>2. Сервис не предоставляет указанные данные третьим лицам, кроме указанного ниже исключения,
   и принимает меры против несанкционированного доступа к данным.

<p/>3. Собираемые данные используются только для обеспечения работы сервиса (исполнения договора оферты),
   включая улучшение качества его работы.

<p/>4. Данные хранятся на сервере на территории Российской Федерации.

<p/>5. Возможна передача изображений брайлевских текстов третьим лицам и их публикация для неопределенного круга лиц
   в целях усовершенствования методов распознавания брайлевских текстов при условии:
<ul>
    <li>пользователь явно выразил согласие на это, выбрав соответствующую опцию при загрузке изображения или в индивидуальных настройках;</li>
    <li>подтверждая согласие на публикацию, пользователь подтверждает,
        что в самом брайлевском тексте на  изображении не содержится информации,
        против публикации которой он возражает;</li>
    <li>опубликованы могут быть только обезличенные загруженные изображения
        (без имени пользователя, его адреса и другой личной информации, связанной с изображением);</li>
    <li>пользователь, выполнивший регистрацию на сервисе, может отозвать согласие на публикацию изображений,
        загруженных им после регистрации.
        Согласие считается отмененным с момента его отзыва пользователем.
        Если изображение было опубликовано до отмены согласия, сервис не может гарантировать его исключения из публичного доступа.</li>
</ul>

<p/>6. При необходимости полного удаления аккаунта пользователя и всех загруженных им данных или необходимости
    полного удаления отдельных загруженных документов просим обращаться по указанной ниже электронной почте.

<p/>Разработчик: АНО Центр технологической помощи людям с ограниченными возможностями здоровья «Ангелина»

<p/>Контактная информация: admin@angelina-reader.com

</div></div>

</main>
</div>

{% endblock %}