{% extends 'base.html' %}
{% block content %}

<div class="site-content  container  ">
<main class="site-main ">

    <h1>User Agreement</h1>

<div class="help_item">
<div class="item_text">

The User Agreement is a public offer agreement.
By confirming consent to the user agreement, the
user expresses acceptance of the offer (conclusion of the offer agreement), which
includes the following provisions:

<p/>1. The services of the service are provided as is, the developers are not responsible for the shortcomings of the service.

<p/>2. The user agrees with the attached privacy policy regarding the personal data transmitted to the service.

</div></div>

    <p/>
    <h1>Privacy Policy</h1>

<div class="help_item">
<div class="item_text">

1. In order to fulfill the offer agreement, the service collects the following personal data of users
<ul>
    <li>email address;</li>
    <li>user name (real or any entered by the user);</li>
    <li>braille text images uploaded by the user.</li>
</ul>

<p/>2. The service does not provide the specified data to third parties,
    except for the exception specified below,
    and takes measures against unauthorized access to the data.

<p/>3. The collected data is used only to ensure the operation of the service (execution of the offer agreement),
    including improving the quality of its work.

<p/>4. The data is stored on a server on the territory of the Russian Federation.

<p/>5. It is possible to transfer images of Braille texts to third parties
    and publish them for an indefinite circle of people
    in order to improve the methods of recognizing Braille texts, provided that:
<ul>
    <li>the user has explicitly agreed to this by selecting the appropriate option when uploading the image or leaving the selection unchanged,
        made by him in individual settings;</li>
    <li>by confirming the consent to the publication, the user confirms,
        that the braille text on the image itself does not contain information,
        against the publication of which he objects;</li>
    <li>only depersonalized uploaded images can be published
        (without the user's name, address and other personal information related to the image);< / li>
    <li>the user who has registered on the service can withdraw consent to the publication of images,
        uploaded by him after registration.
        The consent is considered canceled from the moment of its withdrawal by the user.
        If the image was published before the consent was revoked, the service cannot guarantee its exclusion from public access.</li>
</ul>

<p/>6. If you need to fully remove user account and delete all uploaded data or you need to fully delete a specific
    uploaded image please contact us using a e-mail below.

<p/>Developer: Angelina independent non-commercial organization

<p/>Contacts: admin@angelina-reader.com

</div></div>

</main>
</div>

{% endblock %}