{% extends 'base.html' %}
{% block content %}
<div class="site-content  container ">
<main class="site-main ">
    <br>
    <h1>Вы успешно отписались</h1>
    Больше мы не будем беспокоить Вас письмами.<br>
    Если хотите получать сообщения снова, напишите письмо на <a href="mailto:admin@angelina-reader.com" style="white-space: nowrap">admin@angelina-reader.com</a><br>
    <br>
    <br>
    <br>
    <h1>You have successfully unsubscribed</h1>
    We won't bother you with emails anymore.<br>
    If you want to receive messages again, write an email to <a href="mailto:admin@angelina-reader.com" style="white-space: nowrap">admin@angelina-reader.com</a><br>
    <br>
    <br>
</main>
</div>
{% endblock %}